.add-task-form {
  background-color: gray;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  button {
    background-color: #3F51B5;
    border: none;
    width: 10%;
    color: whitesmoke;
    border-radius: 2px;
    margin: 5px;
    &:hover {
      background-color: cornflowerblue;
    }
  }
}